body { font-family: 'Mulish', sans-serif;
      margin: 0;

}
h1 { font-size: 60px;

}
h2 { font-size: 40px;

}
.ishu{ color: tomato;

}
p {font-size: 20px;

}
.flexible-container{ display: flex;
                     margin-bottom: 150px;

}
.half-width { width:50%;
             padding-left: 5%;
             padding-right: 8%;
             
             

}
.half-width img { width: 80%;

}
.rat{ color: lightseagreen;

}
.pot{ color: orange;

}
.op{    color:seashell   ;
        text-decoration: none;
        background-image: linear-gradient(rgb(59, 177, 55), rgb(30, 105, 139));
        padding: 5px 25px;
        border-radius: 5px;
        font-weight: 800;

}
.top-banner{ background-image:url(images/top-banner.png);
             background-repeat:no-repeat;

}
.dream-big{ background-image: url(images/dream-bg.png);
            background-repeat:no-repeat;
            background-position:right ;

}
.orange-color{ color: orange;

}
.fresh{ width:60%;
      padding-left: 2%;
      padding-right: 5%;
      margin-left: 7%;
      margin-right: 5%;
      box-shadow: 10px 20px 50px gray;
      border-radius: 20px;

}
.size{font-size: 33px;

}
.experience{ background-image:url(images/exp-bg.png);
            background-repeat: no-repeat;
            background-position:left;
            background-size: 120px;

}
#ratul-ishrat{ border-left: 10px solid;
               border-image:linear-gradient(salmon, tomato);
               border-image-slice: 2;

} 
#mahrat-store{ border-left: 10px solid;
               border-image:linear-gradient(rgb(68, 120, 218), cyan);
               border-image-slice: 2;

}
footer{text-align: center;
       font-size: large;

}

